@page

@{
    ViewData["Title"] = "Email verification";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
&nbsp;
<h2>Registration successful</h2>
&nbsp;
<h4 style="color:red">
    Before you can login, please confirm your email, by clicking on the confirmation link, we have sent you.
</h4>