@page
@model CoronaPredictionsAspNetCore.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
&nbsp;
@{
    <h4>
        If you have an account with us, we have sent an email with the instructions to reset your password
    </h4>
}
