@model CoronaPredictionsAspNetCore.Models.RealCases

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RealCases</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RealCaseID" />
            <div class="form-group">
                <label asp-for="DayOfRealCases" class="control-label"></label>
                <select asp-for="DayOfRealCases" class="form-control">
                    <option>Please select one</option>
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                </select>
                <span asp-validation-for="DayOfRealCases" class="text-danger"></span>
            </div>
            @*@Html.ValidationMessageFor(m => m.DateOfRealCases)*@
            <div class="form-group">
                <label asp-for="DateOfRealCases" class="control-label"></label>
                <input asp-for="DateOfRealCases" class="form-control" />
                <span asp-validation-for="DateOfRealCases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealCasesNo" class="control-label"></label>
                <input asp-for="RealCasesNo" class="form-control" />
                <span asp-validation-for="RealCasesNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-primary" type="reset">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
